<?php

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@Symfony' => true,
        'strict_param' => true,
        'array_syntax' => ['syntax' => 'short'],
        'yoda_style' => false,
  		'binary_operator_spaces' => [
            'default' => 'align'
  		],
        'ordered_imports' => true,
        'ordered_class_elements' => true
    ])
;